.inzite-events {
  margin: 0 2rem;
  &__event-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
  }
  .inzite-event {
    border-radius: 4px;
    overflow: hidden;
    background: white;
    box-shadow: 0 1px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1)), 0 0px 4px 0 var(--shadow-color, hsla(0, 0%, 0%, 0.1));
    display: flex;
    flex-direction: column;
    > * {
      margin: 0 1rem 1rem;

      &:first-child {
        margin-top: 1rem;
      }
      &:last-child {
        margin-bottom: 1rem;
      }
    }

    &__header {
    }
    &__title {
      margin: 0;
      padding: 0;
    }
    &__meta {
      font-size: .825em;
      text-transform: uppercase;
      p {
        margin: 0;
      }
    }
    &__thumbnail {
      margin: 0 0 1rem;
      img, a {
        display: block;
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__content {
    }
    &__menu {
      padding: 0;
      flex: 1 0 auto;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    &__btn {
      background-color: #af1f1f;
      color: #fff;
      padding: .5rem 1rem;
      border-radius: 3px;
      display: inline-block;
    }
  }

  img {
    width: 100%;
  }
}
